# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files (ne pas pousser les CSV volumineux)
*.csv

# Logs
*.log

# OS
.DS_Store
Thumbs.db
